<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.edu.usam.guia7_201165">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Custom">
        <activity android:name=".Ex4Reproductor"></activity>
        <activity android:name=".Ex3ListaFrutas" />
        <activity android:name=".Ex2DatosPersonales" />
        <activity android:name=".Ex1Trabajadores" />
        <activity android:name=".Ejemplo3" />
        <activity android:name=".Ejemplo2" />
        <activity android:name=".Ejemplo1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>